# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
*.env

# Build files
dist/
build/
frontend/dist/

# Vercel
.vercel/

# Logs
npm-debug.log*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db